@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --cor1: #262B55;
    --cor2: white;
    --cor3: #1F962C;
    --cor4: #0B0B14;

    --subCor: #5555b3;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(180deg, #262B55, rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", serif;
}
#titulo{
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--cor2);
    font-family: "Poppins", serif;
    margin: 1% 0;
}
.botoes{
    display: flex;
    gap:10%;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.botao{
    padding: 0 5%;
    height: 90%;
    font-size: 18px;
    border: 0;
    border-radius: 25px;
    font-family: "Poppins", serif;
    text-decoration: none;
    background-color: #0F1322;
    display: flex;
    align-items: center;
    color: var(--cor2);
}
.botao:hover{
    background-color: var(--subCor);
}
.botao:active{
    background-color: rgb(255, 255, 255);
}
main{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--cor2);
    margin-top: 3%;
}

.item{
    background-color: #1e2c4b;
    padding: 2% 2% 2% 2%;
    border-radius: 14px;
    margin-bottom: 3%;
}
.itemConcluido{
    box-shadow: -5px 5px 50px gold;
    background-image: linear-gradient(180deg, white, gold);
    color: goldenrod;
}
.tituloItem{
    width: 100%;
    text-align: center;
    margin: 1% 0;
}
progress{
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0);
}
progress::-webkit-progress-bar{
    border-radius: 50px;
    background: #131623;
}
progress::-webkit-progress-value{
    border-radius: 50px;
    background: var(--cor3);
}
.concluido::-webkit-progress-value{
    background: goldenrod;
}
.botoesItem {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 12px;
    margin-top: 2%;
}
.botoesItem .botao{
    font-size: 22px;
}
.dataAtualizacao{
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

@media (max-width: 500px) {
    #botoes{
        height: 6vh;
        gap: 5%;
    }
    main{
        width: 80%;
    }
    .botoes{
        gap: 5%;    
    }
    .botoes .botao{
        height: 70%;
        font-size: 16px;
    }
    .botoesItem .botao{
        padding: 0 10%;
        font-size: 16px;
    }
    .tituloItem{
        font-size: 17px;
    }
    .item{
        margin-bottom: 8%;
    }
    progress {
        height: 20px;
    }
    .dataAtualizacao{
        font-size: 12px;
    }
}